<head>
  <title>Nathan Eidelson - Join Me</title>
</head>


<div class="JoinMeHeader">
	<div id="JoinMe">Join Me</div>
	<div>Bringing your closest friends closer</div>
</div>

<div class="licensingLink">
	<%= link_to "licensing", "/joinmelicense.txt" %>
</div>